<a href="https://colab.research.google.com/github/abuhanifornob/Advance-Python/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
x=[1,2,3,4,5]
print(x)

[1, 2, 3, 4, 5]

In [3]:
pandasSerice=pd.Series(x)
print(pandasSerice)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
pandasData=pd.Series(x,index=[1,2,3,4,5],dtype="float",name="python")
print(pandasData)

1    1.0
2    2.0
3    3.0
4    4.0
5    5.0
Name: python, dtype: float64

In [5]:
dic={"name":["python","C","C++","Java"],"Devloper":[10,12,50,10],"Rank":[1,4,3,2]}
pandasDic=pd.Series(dic)
print(pandasDic)

name        [python, C, C++, Java]
Devloper          [10, 12, 50, 10]
Rank                  [1, 4, 3, 2]
dtype: object

In [7]:
print(pandasDic)

name        [python, C, C++, Java]
Devloper          [10, 12, 50, 10]
Rank                  [1, 4, 3, 2]
dtype: object